{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1 class="sign-up-head text-center">{% trans "Sign Up" %}</h1>

      <p class="text-center sign-up-p">{% blocktrans %}
        Already have an account?
        <a class="link" href="{{ login_url }}">sign in</a>
        here.
        {% endblocktrans %}</p>
    </div>
  </div>
  <div class="row sign-up-container">
    <div class="col-md-8 mt-3 offset-md-2 text-center">
      <form class="signup" id="signup_form" method="post"
        action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right sign-hero-button" type="submit">
          {% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
