{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1 class="sign-up-head text-center">Your Profile</h1>

      <p class="text-center sign-up-p">
        Share a little more about yourself here. Whether it be why you signed up, your destination goals, or just a keen interest in other peoples travelling stories.
      </p>
    </div>
  </div>
  <div class="row profile-container">
    <div class="col-md-8 mt-3 offset-md-2">
      <form method="post">
        {% csrf_token %}

            {{ user_profile_form | crispy }}
        <div>
        <button class="btn btn-signup right sign-hero-button center-align" type="submit">
          Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}