body {
    background-color:  rgb(115, 115, 115);
}

#greyed {
    background-color: rgb(115, 115, 115);
}

div, ul {
    marker: none;
}

.header-strip {
    background-color: whitesmoke;
}

.logo-container {
    border: 2px solid rgb(0, 255, 153, .8);
    background-color: whitesmoke;
    border-radius: 5px 20px 5px;
}

.logo-first {
    font-family: DM Sans, sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: #4A4A4F;
    padding-left: 10px;
}

.logo-second {
    color: #669900;
    font-family: Lobster Two, sans-serif;
    letter-spacing: 3px;
    font-size: 2.2rem;
}

.nav-names {
    font-family: DM Sans, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px;
    color: white;
}

.hero-image-container {
    width: 100%;
}

#hero {
    background-image: url('../images/carribean.jpg');
    width: 100%;
    height: 70vh;
    background: center;
    background-size: cover;
    position: relative;
    padding: 0;
}

.hero-text-container {
    width: 25%;
    height: 25%;
    margin-left: 35%;
    position: relative;
    top: 150px;
    background-color: transparent;
}

#welcome-header {
    background-color: rgb(0, 255, 153, .4);
    letter-spacing: 2px;
    border-radius: 5px 20px 5px;
    width: 90%;
    height: 37%;
    margin: auto;
}

.para-header-first {
    font-family: Lobster Two, sans-serif;
    font-size: larger;
    letter-spacing: 2px;
}

.sign-cover {
    float: left;
    margin-left: 50px;
    font-size: medium;
    border: none;
    background-color: rgb(64, 64, 64, .6);
    color: white;
    font-family: DM Sans, sans-serif;
    width: 20%;
    position: relative;
}

.sign-cover-text {
    margin: 20px;
}

.sign-cover-text-two {
    position: absolute;
    right: 80px;
    top: 115px; 
}

.pill {
    width: 200px;
    height: 35px;
    background-color: rgb(0, 255, 153, .4);
    border-radius: 40px 999em 999em 40px;
    padding-top: 5px;
    font-weight: bold;
    padding-left: 5px;
}

#sign-hero-button-container {
    padding-right: 50px;
    margin-right: 50px;
    position: absolute;
    right: 10px;
    top: 50px;
}

.sign-hero-button {
    width: 120px;
    height: 60px;
    border-radius: 30px;
    border: 3px solid rgb(0, 255, 153, .4);
    font-family: DM Sans, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: rgb(166, 166, 166, .4);
}

#register-hero-button-container {
    padding-right: 50px;
    margin-right: 50px;
    position: absolute;
    right: 10px;
    top: 140px;
}

.para-header-second {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: larger;
    margin-top: 8%;
    border-bottom: dotted;
    border-width: 5px 3px;
    border-radius: 10px 40px;
}

.home-post-header {
    padding-bottom: 15px;
    font-family: Lobster Two, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

.content-img {
    display: block;
    margin-left: auto;
    border: solid 1px white;
    width: 300px;
    height: 300px;
}

.card-text-p {
    position: absolute;
    bottom: 0;
}

.post-text {
    width: 50%;
    height: 100%;
    font-family: DM Sans, sans-serif;
    padding-top: 10px;
}

#username {
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;
    color: #669900;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: rgb(217, 217, 217);
}

.card {
    border: 1px solid white;
    background-color: whitesmoke;
    box-shadow: 10px 5px 5px grey;
}

.image-container {
    position: relative;
    margin-top: 3px;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    border: 1px solid #A5CBAF;
    border-radius: 10px;
    left: -4px;
    background-color: white;
}

.scale {
    width: 100%;
    height: auto;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.social-tag {
    color: #149E37;
    font-size: 200%;
    padding: 20px;
}

/** Sign Up Page **/

.sign-up-head {
    text-transform: uppercase;
    font-family: DM Sans, sans-serif;
    padding-top: 20px;
    letter-spacing: 1px;
}

.sign-up-p {
    padding-top: 60px;
    font-size: larger;
}

.sign-up-container {
    border: 2px solid rgb(0, 255, 153, .4);
    height: 500px;
    width: 700px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 25px;
    letter-spacing: 1px;
    background-color: rgb(255, 255, 255, .6);
}

.sign-in-container {
        border: 2px solid rgb(0, 255, 153, .4);
        height: 400px;
        width: 600px;
        margin: auto;
        padding-top: 80px;
        padding-bottom: 20px;
        border-radius: 25px;
        letter-spacing: 1px;
        font-size: larger;
        background-color: rgb(255, 255, 255, .6);
}

/** Messages **/

.cust-message {
    background-color: rgb(0, 255, 153, .4);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}